﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
 
<!--<![endif]-->
<!-- BEGIN HEAD -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head id="Head1" runat="server">
<meta charset="utf-8"/>
<title>Login | Inventory Management system</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="DynamicSoft" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="assets/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
<link href="assets/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="assets/css/login.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="assets/css/components-md.css" rel="stylesheet" type="text/css"   id="style_components" />
<link href="assets/css/plugins-md.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md login"> 
<form id="form1" runat="server">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="Login.aspx">
		<img src="assets/img/logo2.png" alt=""/> 
		</a>
	</div>
	<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action="index.html" method="post">
		<h3 class="form-title">Sign In</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. 
            
            </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <asp:Label ID="lblLogMsg" runat="server"   ForeColor="Red" Text="---------"></asp:Label>
			<label class="control-label visible-ie8 visible-ie9">Username</label>			 
            <asp:TextBox ID="txtuser" runat="server" type="text" class="form-control form-control-solid placeholder-no-fix" placeholder="User ID"  ></asp:TextBox>

		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>			 
            <asp:TextBox ID="txtpass" runat="server"  class="form-control form-control-solid placeholder-no-fix"  placeholder="Password"   TextMode="Password"></asp:TextBox>
		</div>
		<div class="form-actions">			 
            <asp:Button ID="btnSubmit" runat="server" Text="Sign in" class="btn btn-success uppercase" onclick="btnSubmit_Click" />			 		 
		</div>
	 
		<div class="create-account">
		 User Id : admin <br />
         Password: admin <br />
          <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/LoginCustomer.aspx">Customer Login</asp:HyperLink>
		</div>
	</form>
	<!-- END LOGIN FORM --> 
</div>
<div class="copyright">
	  Developed by <a href="http://codecanyon.net/user/dynamicsoft" style="color:White" target="_blank"> DynamicSoft </a>  <br/>
                        Copyright © 2014 - <%= DateTime.Now.Year.ToString() %>  All Rights Reserved.
</div>
<!-- END LOGIN -->

       <%-- Traffic Statistics --%>
<%--             <div class="col-lg-3 col-lg-offset-4" >
                  <a href="http://info.flagcounter.com/LId3">
                <img src="http://s05.flagcounter.com/count/LId3/bg_FFFFFF/txt_000000/border_CCCCCC/columns_4/maxflags_20/viewers_0/labels_1/pageviews_1/flags_0/" alt="Flag Counter" border="0">
                </a>
        </div>  --%>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="assets/scripts/respond.min.js"></script>
<script src="assets/scripts/excanvas.min.js"></script> 
<![endif]-->
<script src="assets/scripts/jquery.min.js" type="text/javascript"></script>
<script src="assets/scripts/jquery-migrate.min.js" type="text/javascript"></script>
 
<script src="assets/scripts/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
 <script src="assets/scripts/jquery.uniform.min.js" type="text/javascript"></script>
<script src="assets/scripts/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/scripts/jquery.validate.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/scripts/metronic.js" type="text/javascript"></script>
<script src="assets/scripts/layout.js" type="text/javascript"></script>
<script src="assets/scripts/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
	<script>
	    jQuery(document).ready(function () {
	        Metronic.init(); // init metronic core components
	        Layout.init(); // init current layout
	        Login.init();
	        Demo.init();
	    });
	</script>
<!-- END JAVASCRIPTS -->
</form>
</body>
<!-- END BODY -->
</html>